<section id="projects" class="projects-section" data-aos="fade-up" data-aos-duration="1000">
  <div class="container">
    <h2 class="section-title text-center">Proyectos</h2>

    <div class="projects-grid">

      <!-- Proyecto 1 -->
      <div class="project-card">
        <img src="assets/images/proyecto1.jpg" alt="Proyecto 1" class="project-image" />
        <div class="project-content">
          <h3 class="project-title">Madrid United CC</h3>
          <p class="project-description">Web para la gestión y visualización del equipo de cricket Madrid United. Mas info en el Readme del repo</p>
          <div class="project-buttons">
            <a href="https://github.com/Sekann/cricketTeam" target="_blank" class="btn btn-secondary">Ver código</a>
            <a href="https://madridunitedcc.netlify.app/" target="_blank" class="btn btn-primary">Ver web</a>
          </div>
        </div>
      </div>

      <!-- Proyecto 2 -->
      <div class="project-card">
        <img src="assets/images/proyecto2.jpg" alt="Proyecto 2" class="project-image" />
        <div class="project-content">
          <h3 class="project-title">Peluquería</h3>
          <p class="project-description">Web para la visualización y citas de una peluquería. Mas info en el Readme del repo</p>
          <div class="project-buttons">
            <a target="_blank" class="btn btn-secondary">En progreso</a>
            <a target="_blank" class="btn btn-primary">Demo</a>
          </div>
        </div>
      </div>

      <!-- Proyecto 3 -->
      <div class="project-card">
        <img src="assets/images/proyecto3.jpg" alt="Proyecto 3" class="project-image" />
        <div class="project-content">
          <h3 class="project-title">Portafolio</h3>
          <p class="project-description">Portafolio personal para mostrar mis proyectos y habilidades. Mas info en el Readme del repo</p>
          <div class="project-buttons">
            <a href="https://github.com/Sekann/portafolio" target="_blank" class="btn btn-secondary">Ver código(falta subir el codigo)</a>
            <a href="https://sekandarshah.netlify.app/" target="_blank" class="btn btn-primary">Ver web (falta subir la web)</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
